name: Build CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Project
        uses: actions/checkout@v3.5.2

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.6

      - name: Configure JDK
        uses: actions/setup-java@v3.11.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clean build directory
        run: |
          ./gradlew clean --no-configuration-cache || true
          rm -rf sampleapp/build/intermediates/lint-cache || true

      - name: Run build with caching enabled
        uses: gradle/gradle-build-action@v2.4.2
        with:
          arguments: build -s

      - name: Run Detekt
        run: ./gradlew detektMain
